.basket-data{
    width: 80%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    gap: 50px;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: 0 0 5px;
}

.basket-data img{
    width: 90px;
    height: 90px;
}

.product-name{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    gap: 5px;
}

.product-text{
    width: 65%;
    border: 2px solid black;
    border-top: none;
    border-bottom: none;
    padding: 20px;
}

.basket-image{
    display: flex;
    align-items: center;
    gap: 30px;
}

.productName-Image{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.remove-basket-product{
    display: flex;
    cursor: pointer;
    justify-content: end;
}

.remove-basket-product img{
    width: 25px;
    height: 25px;
}

.buy-products{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.buy-products button{
    width: 250px;
    height: 45px;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 16px;
    background: #00b300;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.product-quantity{
    display: flex;
    gap: 20px;
}

.product-quantity button{
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background: white;
    border: 2px solid;
}

#decrement{
 cursor: pointer;
}

#increment{
    cursor: pointer;
}